{% extends "base.html" %}

{% block content %}
<h1>InfraCore Dashboard</h1>

<p>Infrastructure Planning & Control System</p>

<div class="cards">
    <div class="card">
        <h3>Active Projects</h3>
        <p class="value">5</p>
    </div>

    <div class="card">
        <h3>Sites Running</h3>
        <p class="value">8</p>
    </div>

    <div class="card">
        <h3>Inventory Alerts</h3>
        <p class="value alert">2</p>
    </div>

    <div class="card">
        <h3>Pending Reports</h3>
        <p class="value">3</p>
    </div>
</div>
{% endblock %}
